In [ ]:
!pip install --upgrade git+https://github.com/kevctae/twint.git
!pip install nest_asyncio
!pip install unidecode
!pip install Sastrawi
import nltk
nltk.download('punkt')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/kevctae/twint.git
  Cloning https://github.com/kevctae/twint.git to /tmp/pip-req-build-4f3fes7i
  Running command git clone -q https://github.com/kevctae/twint.git /tmp/pip-req-build-4f3fes7i
Requirement already satisfied: aiohttp in /usr/local/lib/python3.8/dist-packages (from twint==2.1.21) (3.8.3)
Collecting aiodns
  Downloading aiodns-3.0.0-py3-none-any.whl (5.0 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from twint==2.1.21) (4.6.3)
Collecting cchardet
  Downloading cchardet-2.1.7-cp38-cp38-manylinux2010_x86_64.whl (265 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 265 kB 4.9 MB/s
Collecting dataclasses
  Downloading dataclasses-0.6-py3-none-any.whl (14 kB)
Collecting elasticsearch
  Downloading elasticsearch-8.5.3-py3-none-any.whl (385 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 385 kB 39.8 MB/s
Requirement already satisfied: pysocks in /usr/local/lib/python3.8/dist-packages (from twint==2.1.21) (1.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from twint==2.1.21) (1.3.5)
Collecting aiohttp_socks
  Downloading aiohttp_socks-0.7.1-py3-none-any.whl (9.3 kB)
Collecting schedule
  Downloading schedule-1.1.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: geopy in /usr/local/lib/python3.8/dist-packages (from twint==2.1.21) (1.17.0)
Collecting fake-useragent
  Downloading fake_useragent-1.1.1-py3-none-any.whl (50 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 50 kB 5.9 MB/s
Collecting googletransx
  Downloading googletransx-2.4.2.tar.gz (13 kB)
Collecting pycares>=4.0.0
  Downloading pycares-4.3.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (288 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 288 kB 44.7 MB/s
Requirement already satisfied: cffi>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from pycares>=4.0.0->aiodns->twint==2.1.21) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.5.0->pycares>=4.0.0->aiodns->twint==2.1.21) (2.21)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp->twint==2.1.21) (6.0.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp->twint==2.1.21) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->twint==2.1.21) (22.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->twint==2.1.21) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp->twint==2.1.21) (1.3.3)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp->twint==2.1.21) (2.1.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp->twint==2.1.21) (1.3.1)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.8/dist-packages (from yarl<2.0,>=1.0->aiohttp->twint==2.1.21) (2.10)
Collecting python-socks[asyncio]<3.0.0,>=2.0.0
  Downloading python_socks-2.1.1-py3-none-any.whl (49 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 49 kB 5.1 MB/s
Collecting elastic-transport<9,>=8
  Downloading elastic_transport-8.4.0-py3-none-any.whl (59 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 59 kB 7.0 MB/s
Collecting urllib3<2,>=1.26.2
  Downloading urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 140 kB 46.0 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from elastic-transport<9,>=8->elasticsearch->twint==2.1.21) (2022.12.7)
Requirement already satisfied: importlib-resources>=5.0 in /usr/local/lib/python3.8/dist-packages (from fake-useragent->twint==2.1.21) (5.10.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=5.0->fake-useragent->twint==2.1.21) (3.11.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.8/dist-packages (from geopy->twint==2.1.21) (1.52)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from googletransx->twint==2.1.21) (2.23.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->twint==2.1.21) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->twint==2.1.21) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->twint==2.1.21) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->twint==2.1.21) (1.15.0)
Collecting requests
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 62 kB 1.2 MB/s
Building wheels for collected packages: twint, googletransx
  Building wheel for twint (setup.py) ... done
  Created wheel for twint: filename=twint-2.1.21-py3-none-any.whl size=39180 sha256=c702955834d74031a809b6df8c5fe2d442ba17f8220edd8d99efc9f73225bbd5
  Stored in directory: /tmp/pip-ephem-wheel-cache-445tqtw1/wheels/de/66/ce/1d0e7f533048436bc24ec9d2d55bc759542faa4fe80bc0b972
  Building wheel for googletransx (setup.py) ... done
  Created wheel for googletransx: filename=googletransx-2.4.2-py3-none-any.whl size=15968 sha256=5765ec31475ee381e1d17fe1914bf595e31cd7e57c76d80d7d9793b50f74fd52
  Stored in directory: /root/.cache/pip/wheels/6a/54/98/96b62f08dd73eca3147e36b5099d77c3f8fedc5472bb488167
Successfully built twint googletransx
Installing collected packages: urllib3, python-socks, requests, pycares, elastic-transport, schedule, googletransx, fake-useragent, elasticsearch, dataclasses, cchardet, aiohttp-socks, aiodns, twint
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed aiodns-3.0.0 aiohttp-socks-0.7.1 cchardet-2.1.7 dataclasses-0.6 elastic-transport-8.4.0 elasticsearch-8.5.3 fake-useragent-1.1.1 googletransx-2.4.2 pycares-4.3.0 python-socks-2.1.1 requests-2.28.1 schedule-1.1.0 twint-2.1.21 urllib3-1.26.13
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nest_asyncio
  Downloading nest_asyncio-1.5.6-py3-none-any.whl (5.2 kB)
Installing collected packages: nest-asyncio
Successfully installed nest-asyncio-1.5.6
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 235 kB 5.3 MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.3.6
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 209 kB 5.2 MB/s
Installing collected packages: Sastrawi
Successfully installed Sastrawi-1.0.1

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import warnings; warnings.simplefilter('ignore')
import itertools, re, nltk
import time, numpy as np, matplotlib.pyplot as plt, pandas as pd, seaborn as sns 
from matplotlib.colors import ListedColormap
from textblob import TextBlob
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from unidecode import unidecode
from nltk.tag import CRFTagger
from html import unescape
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from tqdm import tqdm

factory = StopWordRemoverFactory()
stemmer = StemmerFactory().create_stemmer()
sns.set(style="ticks", color_codes=True)
random_state = 170

import twint
import nest_asyncio
import pandas as pd

from google.colab import files

Sastrawi_StopWords_id = factory.get_stop_words()

print(Sastrawi_StopWords_id)
print(len(Sastrawi_StopWords_id))

Sastrawi_StopWords_id = set(Sastrawi_StopWords_id)

['yang', 'untuk', 'pada', 'ke', 'para', 'namun', 'menurut', 'antara', 'dia', 'dua', 'ia', 'seperti', 'jika', 'jika', 'sehingga', 'kembali', 'dan', 'tidak', 'ini', 'karena', 'kepada', 'oleh', 'saat', 'harus', 'sementara', 'setelah', 'belum', 'kami', 'sekitar', 'bagi', 'serta', 'di', 'dari', 'telah', 'sebagai', 'masih', 'hal', 'ketika', 'adalah', 'itu', 'dalam', 'bisa', 'bahwa', 'atau', 'hanya', 'kita', 'dengan', 'akan', 'juga', 'ada', 'mereka', 'sudah', 'saya', 'terhadap', 'secara', 'agar', 'lain', 'anda', 'begitu', 'mengapa', 'kenapa', 'yaitu', 'yakni', 'daripada', 'itulah', 'lagi', 'maka', 'tentang', 'demi', 'dimana', 'kemana', 'pula', 'sambil', 'sebelum', 'sesudah', 'supaya', 'guna', 'kah', 'pun', 'sampai', 'sedangkan', 'selagi', 'sementara', 'tetapi', 'apakah', 'kecuali', 'sebab', 'selain', 'seolah', 'seraya', 'seterusnya', 'tanpa', 'agak', 'boleh', 'dapat', 'dsb', 'dst', 'dll', 'dahulu', 'dulunya', 'anu', 'demikian', 'tapi', 'ingin', 'juga', 'nggak', 'mari', 'nanti', 'melainkan', 'oh', 'ok', 'seharusnya', 'sebetulnya', 'setiap', 'setidaknya', 'sesuatu', 'pasti', 'saja', 'toh', 'ya', 'walau', 'tolong', 'tentu', 'amat', 'apalagi', 'bagaimanapun']
126

In [ ]:
#get data
nest_asyncio.apply()
config = twint.Config()
config.Hide_output = True
config.Pandas = True
config.Retweets = True
config.Profile_full = True

config.Search = "piala dunia 2022"
config.Limit = 13000

twint.run.Search(config)
data = twint.storage.panda.Tweets_df
del twint, config, nest_asyncio
print(data.shape)

data.head()

(13001, 38)

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1608321308064088064,1608321308064088064,1.672289e+12,2022-12-29 04:37:35,+0000,,Liga Spanyol akan kembali hadir malam ini sete...,in,[],[],...,,,,,,[],,,,
1,1608321285334999040,1608321285334999040,1.672289e+12,2022-12-29 04:37:30,+0000,,pola dari viewer berhasil wede jutaan ðŸ’¯ auto s...,in,"[rtpslotgacor, pragmaticplay, malang, riau, li...",[],...,,,,,,[],,,,
2,1608320426152964097,1608320426152964097,1.672288e+12,2022-12-29 04:34:05,+0000,,Jadwal bola malam iniâš½âš½âš½ ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ https://t.co...,in,"[pialadunia2022, trending]",[],...,,,,,,[],,,,
3,1608318244674502656,1608318244674502656,1.672288e+12,2022-12-29 04:25:25,+0000,,Erling Haaland cuma bisa jadi penonton di Pial...,in,[],[],...,,,,,,[],,,,
4,1608317384481292288,1608317384481292288,1.672288e+12,2022-12-29 04:22:00,+0000,,Ada yang hilang ketika warga Qatar memulai akt...,in,[headline],[],...,,,,,,[],,,,

In [ ]:
data

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1608321308064088064,1608321308064088064,1.672289e+12,2022-12-29 04:37:35,+0000,,Liga Spanyol akan kembali hadir malam ini sete...,in,[],[],...,,,,,,[],,,,
1,1608321285334999040,1608321285334999040,1.672289e+12,2022-12-29 04:37:30,+0000,,pola dari viewer berhasil wede jutaan ðŸ’¯ auto s...,in,"[rtpslotgacor, pragmaticplay, malang, riau, li...",[],...,,,,,,[],,,,
2,1608320426152964097,1608320426152964097,1.672288e+12,2022-12-29 04:34:05,+0000,,Jadwal bola malam iniâš½âš½âš½ ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ https://t.co...,in,"[pialadunia2022, trending]",[],...,,,,,,[],,,,
3,1608318244674502656,1608318244674502656,1.672288e+12,2022-12-29 04:25:25,+0000,,Erling Haaland cuma bisa jadi penonton di Pial...,in,[],[],...,,,,,,[],,,,
4,1608317384481292288,1608317384481292288,1.672288e+12,2022-12-29 04:22:00,+0000,,Ada yang hilang ketika warga Qatar memulai akt...,in,[headline],[],...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12996,1604495143553617922,1604495143553617922,1.671376e+12,2022-12-18 15:13:46,+0000,,#BlogUpdate - Deretan Fakta Unik &amp; Yang T...,in,[blogupdate],[],...,,,,,,[],,,,
12997,1604495125052157953,1604495125052157953,1.671376e+12,2022-12-18 15:13:42,+0000,,"MENIT 13, PRANCIS MULAI MENYERANG Argentina 0...",in,[],[],...,,,,,,[],,,,
12998,1604495018240401408,1604495018240401408,1.671376e+12,2022-12-18 15:13:17,+0000,,Kegembiraan pendukung timnas Prancis jelang pa...,in,[],[],...,,,,,,[],,,,
12999,1604495004009123841,1604495004009123841,1.671376e+12,2022-12-18 15:13:13,+0000,,Suasana Stadion Lusail menjelang partai final ...,in,[],[],...,,,,,,[],,,,
13000,1604494982957912064,1604494982957912064,1.671376e+12,2022-12-18 15:13:08,+0000,,"Nonton final piala dunia qatar 2022, denger la...",in,[],[],...,,,,,,[],,,,

In [ ]:
df = data[['tweet']]
def cleanText(txt):
    docx = unidecode(unescape(txt.lower().strip()))
    urlPattern = re.compile(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
    docx = re.sub(urlPattern,' ', docx) # Remove links
    docx = re.sub(r'[^\w]', ' ', docx) # Remove Symbol, keep "_" ... recommended
    Tokens = TextBlob(docx).words # Tokenisasi 
    docx = ' '.join([t for t in Tokens if str(t) not in Sastrawi_StopWords_id and len(t)>2]) # Stopwords filtering
    docx = stemmer.stem(docx)
    return docx # Silahkan latihan tambahkan penanganan Slang/Singkatan
df['clean_tweet'] = '' # inititate kolom kosong
for idx, post in tqdm(df.iterrows()):
    df.at[idx, 'clean_tweet'] = cleanText(post.tweet)
    
df

13001it [29:02,  7.46it/s]

,tweet,clean_tweet
0,Liga Spanyol akan kembali hadir malam ini sete...,liga spanyol hadir malam sempat henti piala du...
1,pola dari viewer berhasil wede jutaan ðŸ’¯ auto s...,pola viewer hasil wede juta auto sawer nih rtp...
2,Jadwal bola malam iniâš½âš½âš½ ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ðŸ‘‡ https://t.co...,jadwal bola malam pialadunia2022 trending
3,Erling Haaland cuma bisa jadi penonton di Pial...,erling haaland cuma jadi tonton piala dunia 20...
4,Ada yang hilang ketika warga Qatar memulai akt...,hilang warga qatar mulai aktivitas piala dunia...
...,...,...
12996,#BlogUpdate - Deretan Fakta Unik &amp; Yang T...,blogupdate deret fakta unik ter piala dunia 20...
12997,"MENIT 13, PRANCIS MULAI MENYERANG Argentina 0...",menit prancis mulai serang argentina perancis ...
12998,Kegembiraan pendukung timnas Prancis jelang pa...,gembira dukung timnas prancis jelang partai fi...
12999,Suasana Stadion Lusail menjelang partai final ...,suasana stadion lusail jelang partai final pia...
13000,"Nonton final piala dunia qatar 2022, denger la...",nonton final piala dunia qatar 2022 denger lag...

In [ ]:
df = df[["clean_tweet"]]
df

                                             clean_tweet
0      liga spanyol hadir malam sempat henti piala du...
1      pola viewer hasil wede juta auto sawer nih rtp...
2              jadwal bola malam pialadunia2022 trending
3      erling haaland cuma jadi tonton piala dunia 20...
4      hilang warga qatar mulai aktivitas piala dunia...
...                                                  ...
12996  blogupdate deret fakta unik ter piala dunia 20...
12997  menit prancis mulai serang argentina perancis ...
12998  gembira dukung timnas prancis jelang partai fi...
12999  suasana stadion lusail jelang partai final pia...
13000  nonton final piala dunia qatar 2022 denger lag...

[13001 rows x 1 columns]

In [ ]:
df[['clean_tweet']].to_csv("cleaned_tweet.txt", index=False, encoding='utf8', header=False)

In [ ]:
df.to_csv("data_tweet.csv",index=False, encoding='utf8', header=False)
files.download('data_tweet.csv')

In [ ]:
#df = df[['clean_tweet']]

In [ ]:
#df.to_csv("data.csv",index=False, encoding='utf8', header=False)
#files.download('data.csv')

In [ ]:
df

                                             clean_tweet
0      liga spanyol hadir malam sempat henti piala du...
1      pola viewer hasil wede juta auto sawer nih rtp...
2              jadwal bola malam pialadunia2022 trending
3      erling haaland cuma jadi tonton piala dunia 20...
4      hilang warga qatar mulai aktivitas piala dunia...
...                                                  ...
12996  blogupdate deret fakta unik ter piala dunia 20...
12997  menit prancis mulai serang argentina perancis ...
12998  gembira dukung timnas prancis jelang partai fi...
12999  suasana stadion lusail jelang partai final pia...
13000  nonton final piala dunia qatar 2022 denger lag...

[13001 rows x 1 columns]

[visualisasi voyant](https://voyant-tools.org/?corpus=df3c0e772890eab9ac4ffda02ef97733)

In [ ]:
# Importing Some Python Modules
import warnings; warnings.simplefilter('ignore')
import scipy, itertools, pandas as pd, matplotlib.pyplot as plt, seaborn as sns, numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler

plt.style.use('bmh'); sns.set()

In [ ]:
df.describe().transpose()

,count,unique,top,freq
clean_tweet,13001,10692,link live streaming argentina prancis ajang fi...,48

In [ ]:
df.describe()

                                              clean_tweet
count                                               13001
unique                                              10692
top     link live streaming argentina prancis ajang fi...
freq                                                   48